<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oduck.mapper.MemberMapper">

<select id="idCheck" parameterType="String" resultType="Integer">
SELECT COUNT(MEMBER_ID) 
FROM TBL_MEMBER 
WHERE MEMBER_ID = #{member_id}
</select>

<select id="readUser" parameterType="String" resultType="org.oduck.domain.MemberVO">
SELECT
*
FROM TBL_MEMBER
WHERE
MEMBER_ID = #{member_id}
</select>

<select id="readAuthority" parameterType="String" resultType="String">
SELECT MEMBER_ROLE
FROM TBL_MEMBER
WHERE MEMBER_ID = #{member_id}
</select>

<insert id="signIn" parameterType="org.oduck.domain.MemberVO">
INSERT INTO 
TBL_MEMBER(MEMBER_NUM, MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_ADDR_NUM, MEMBER_ADDR, MEMBER_ADDR_DETAIL, MEMBER_PNUM, MEMBER_EMAIL)
VALUES(SEQ_MEMBER.NEXTVAL, #{member_id}, #{member_pw}, #{member_name}, #{member_addr_num}, #{member_addr}, #{member_addr_detail}, #{member_pnum}, #{member_email})
</insert>

</mapper>