<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.oduck.mapper.ProductMapper">
<select id="listProduct" resultType="hashMap">
SELECT A.PRO_CODE, A.PRO_PRICE, A.PRO_TYPE, A.PRO_DATE, A.SELLER_NAME, A.PRO_WEIGHT, A.PRO_REGDATE, A.PRO_QUANTITY, B.FILE_NAME, B.FILE_NO
FROM TBL_PRODUCT A
LEFT OUTER JOIN 
    (
    SELECT * FROM
        (
        SELECT FILE_NO, FILE_NAME, PRO_CODE, 
        RANK() OVER(PARTITION BY PRO_CODE ORDER BY FILE_NO ASC) AS RANKING 
        FROM TBL_FILE
        ) T
        WHERE RANKING = 1
    ) B
ON A.PRO_CODE = B.PRO_CODE 
ORDER BY PRO_CODE DESC
</select>

<select id="detailProduct" parameterType="Integer" resultType="org.oduck.domain.ProductVO">
SELECT * FROM TBL_PRODUCT WHERE PRO_DELFLAG = 'Y' AND PRO_CODE = #{pro_code}
</select>

<insert id="insertProduct" parameterType="org.oduck.domain.ProductVO">
INSERT INTO TBL_PRODUCT
(PRO_CODE, PRO_PRICE, PRO_TYPE, PRO_DATE, SELLER_NAME, PRO_WEIGHT, PRO_QUANTITY) 
VALUES
(SEQ_PRODUCT.NEXTVAL, #{pro_price}, #{pro_type}, #{pro_date}, #{seller_name}, #{pro_weight}, #{pro_quantity})
</insert>

<insert id="insertFile" parameterType="org.oduck.domain.ProductFileVO">
INSERT INTO TBL_FILE
(FILE_NO, PRO_CODE, FILE_NAME, FILE_ORI_NAME, FILE_URL)
VALUES
(SEQ_FILE.NEXTVAL, SEQ_PRODUCT.CURRVAL, #{file_name}, #{file_oriname}, #{file_url})
</insert>
</mapper>